@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

.main_body {
    background-color: #7dc8fa;
    margin: 0;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.white_board {
    background-color: #f2f2f2;
    position: relative;
    width: 80%;
    height: 80%;
    border-radius: 5px;
    border: 10px solid #adb2bd;
    box-shadow: inset -1px 2px 2px #404040, 6px 9px 1px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.board_title {
    font-family: 'Permanent Marker', sans-serif, arial;
    font-size: 4.2em;
    color: #2081C3;
    text-align: center;
    margin-top: 20px;
}

.message {
    font-family: 'Permanent Marker', sans-serif, arial;
    font-size: 2.0em;
    color:  #2081C3;
    position: absolute;
    left: 50.5%;
    top: 20%;
    transform: translateX(-50%);

}

.main-text-wrapper {
    width: 500px;
    height: auto;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-70%);
    font-size: 1.3em;
    font-family: 'Permanent Marker';
    font-style: italic;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
}

/* Polaroid Photos */


#polaroid-1 {
    position: absolute;
    top: 10%;
    left: 7%;
    transform: rotateZ(10deg);
}

#polaroid-2 {
    position: absolute;
    top: 53%;
    left: 3%;
    transform: rotateZ(-10deg);
}

#polaroid-3 {
    position: absolute;
    top: 40%;
    left: 20%;
    transform: rotateZ(-4deg);
}

#polaroid-4 {
    position: absolute;
    top: 40%;
    right: 20%;
    transform: rotateZ(4deg);
}

#polaroid-5 {
    position: absolute;
    top: 10%;
    right: 7%;
    transform: rotateZ(-10deg);
}

#polaroid-6 {
    position: absolute;
    top: 53%;
    right: 3%;
    transform: rotateZ(10deg);
}


.polaroid-container {
    width: 150px;
    padding: 10px;
    background-color: white;
    font-family: 'Permanent Marker';
    box-shadow: 2px 2px 5px gray;
    position: relative;
}


.magnet {
    width: 50px;
    height: auto;
    position: absolute;
    left: 50.5%;
    top: -10%;
    transform: translateX(-50%);
    filter: grayscale(0);
}

img {
    width: 150px;
    height: auto;
    filter: grayscale(100%);
    transition: 0.5s;
}

img:hover {
    filter: grayscale(0);
    cursor: pointer;
}



.text-wrapper {
    width: 100%;
    text-align: center;
    line-height: 5px;
    margin-top: 4vh;
}


.text-wrapper p:nth-child(1) {
    font-size: 0.9em;
    font-weight: 200;
}

.text-wrapper p:nth-child(2) {
    font-size: 1.3em;
}

